 
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-top: 0;
    text-align: center ;
  }
  
  .add-remove-section {
    margin-bottom: 20px;
  }
  
  .transaction-section {
    font-family: Arial, sans-serif;
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ECF8F9;
  }
  
  .balance {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .transaction-list {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ECF8F9;
  }
  
  .transaction-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .transaction-list li span {
    flex-basis: 33%;
  }
  
  .transaction-list li button {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
  }
  
  .transaction-list li button:hover {
    text-decoration: underline;
  }
  
  .Add {
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 140px;
  }

  .Remove{
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type='number'] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  